.App {
  background-color: #d63737;
  color: #faf333;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-buttons button {
  appearance: none;
  border: 1px solid #faf333;
  background-color: transparent;
  color: #faf333;
  margin-right: 8px;
  margin-left: 8px;
}

p {
  font-size: 18px;
}